.button {
  cursor: pointer;
  align-self: flex-end;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: var(--bleu-fonce);
  padding: 8px 5px;
  border: 0.5px solid var(--bleu-fonce);
  color: whitesmoke;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    background-color: transparent;
    border: 0.5px solid var(--joune-fonce);
    color: var(--bleu-fonce);
  }
}
