.preference {
    display: block;
    color: var(--joune-fonce-2);
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;

}

.preference.inactive {
    display: none;
    color: var(--joune-fonce-2);
}