.timbre {
  margin-inline: auto;
  margin-bottom: 30px;
  min-height: 550px;
  max-height: 700px;
  max-width: 770px;
  display: flex;
  gap: 20px;
  border: 1px solid var(--brun-fonce);
  padding: 15px;
  
}

.timbre__galerie {
  height: fit-content;
  min-width: 250px;
  max-width: 350px;
  & > picture {
    display: block;
    width: 100%;
    min-height: 200px; 
    max-height: 300px; 
    overflow: hidden;
    
  }
}

/* VARIATION POUR AFFICHER LES IMAGES */
.timbre-images {
  margin-inline: auto;
  margin-bottom: 30px;
  height: fit-content;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  border: 1px solid var(--brun-fonce);
  padding: 35px;
  
}

.timbre__galerie-images {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > * {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & img {
      height: 150px;
    }
  }
}

.timbre__galerie-petit {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: 150px;

  & > * {
    max-height: 100px;
    max-width: 100px;
  }
}

.timbre__contenu {
  height: 100%;
  & > picture {
    height: 300px;
  }

  & > div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;

    & h4 {
      font-size: var(--titre-moyen-2);
      color: var(--brun-fonce);
    }

    & p {
      font-size: var(--petit-3);
      letter-spacing: 1px;
      word-spacing: 3px;
    }

    & .timbre__favoris {
      cursor: pointer;
      width: fit-content;
      padding: 10px 10px;
      /* margin-top: 25px; */
      border-top: 0.5px solid var(--joune-fonce) ;
      border-left: 0.5px solid var(--joune-fonce);
      transition: all 0.3s ease-in-out;

      & button {
        color: var(--joune-fonce);
        background-color: transparent;
        border: none;
      }

      &:hover {
        transform: scale(1.08);
        border-top: none;
      border-left: none;
        border-bottom: 0.5px solid var(--joune-fonce) ;
        border-right: 0.5px solid var(--joune-fonce);
      }


    }
  }
  & footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    & > div {
      color: #645521;
    }

    & small {
      color: var(--bleu-fonce-2);
    }
  }
}
